.container {
  width: fit-content;
  font-family: "Red Hat Text", sans-serif;

  margin: 5em 2em;
  .titleBanner {
    width: 16em;
    height: 9em;

    border-radius: 0.3em;

    transition: 0.25s;

    z-index: 1;
    position: relative;
    cursor: pointer;
  }
  .titleBannerExpanded {
    transform: scale(1.5);
    transform-origin: bottom left;

    border-radius: 0.3em 0.3em 0 0;

    width: 16em;

    z-index: 5;
    position: relative;
    cursor: pointer;
  }
}

.cardInfo {
  width: 24em;

  background-color: #181818;
  border-radius: 0.3em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  margin-top: -1.5em;

  transition: 0.45s;

  z-index: 5;
  position: relative;
  ul {
    display: flex;
    li {
      list-style: none;
      margin: 0.9em 0.3em;

      border: lightgray solid 0.05em;
      background-color: #303030;
      padding: 0.5em;
      border-radius: 100%;
    }
    .playButton {
      background-color: white;
      margin-left: -1.5em;
    }
    .infoButton {
      margin-left: auto;
      margin-right: 2em;
    }
  }
  .titleInfo {
    display: flex;
    align-items: center;
    margin-top: -1em;
    margin-left: 1em;
    p {
      background: -webkit-linear-gradient(left, #46d369 80%, #329d4d);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      font-weight: bolder;
      font-size: 1.1em;
    }
    span {
      font-size: 1.1em;
      font-weight: 600;
    }
    .maturityIcon {
      font-weight: bold;
      font-size: 1.2em;

      padding: 0.1em;
      border-radius: 0.3em;

      margin: 0 1em;
    }
  }
}

.titleGenres {
  margin-top: 1em;
  ul {
    display: flex;
    flex-direction: row;
    margin-top: -2em;
  }
  .genresList {
    border: none;
    background-color: transparent;

    font-weight: 400;
    font-size: 1.1em;
    margin-left: -2em;
    margin-right: 1.5em;
  }
}
