.container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(#060606, 50%, #141414);
  min-width: 100vw;

  img {
    width: 7em;
    margin: 0 0em 0 3em;
  }

  ul {
    display: flex;
    li {
      list-style: none;
      font-family: "Red Hat Text", sans-serif;
      font-size: 0.9em;
      color: #ffffff;

      margin: 0 0.5em;
    }
  }
}

.userSection {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 3em;
  li {
    display: flex;
    align-items: center;
  }
  img {
    border-radius: 0.5em;
    margin: 0 0.5em 0 0;
    width: 2.5em;
  }
}
